.container {
    border: thin solid #d80d10;
    border-radius: 20px;
    margin: 25px;
    padding-left: 12px;
    padding-right: 1px;
    padding-bottom: 13px;
    background-image: linear-gradient(to right, rgba(223, 9, 12, 0.7), white 13%);
}

.title {
    font-family: Arial;
    font-weight: bold;
    color: #d80c0f;
    font-size: x-large;
    padding: 0px;
}

.time {
    font-size: x-small;
    font-weight: bold;
}

.shortText {
    font-size: x-small;
}